In [8]:
import pandas as pd
path = 'data/'
submit = pd.read_csv('submit/FFDCN_final1.csv')
submit

,user_id,isbn,rating,pred_0,pred_1,pred_2,pred_3,pred_4
0,11676,0002005018,0,6.639803,6.409450,6.023088,7.604046,6.378604
1,116866,0002005018,0,7.467519,7.335151,7.354768,8.616915,7.473842
2,152827,0060973129,0,7.151853,6.823597,6.821230,8.412003,7.028058
3,157969,0374157065,0,7.389585,6.952061,7.016647,7.929402,7.529511
4,67958,0399135782,0,8.657965,8.257792,8.029245,9.054090,8.070043
...,...,...,...,...,...,...,...,...
76694,278543,1576734218,0,6.268012,6.073349,6.401738,7.363283,6.535415
76695,278563,3492223710,0,5.569095,6.143571,5.603662,7.557424,6.317039
76696,278633,1896095186,0,6.108860,5.967444,6.291689,7.252664,6.834562
76697,278668,8408044079,0,5.796175,5.287764,4.194280,4.789503,5.842330
76698,278851,0767907566,0,5.152371,6.131219,5.871371,7.383175,5.856009

In [10]:
submit['rating'] = (submit['pred_0'] + submit['pred_1'] + submit['pred_2'] + submit['pred_3'] + submit['pred_4']) / 5
submit[['user_id', 'isbn', 'rating']].to_csv('real_final1.csv', index = False)