In [2]:
import pandas as pd
import numpy as np

def rmse(real: list, predict: list) -> float:
    pred = np.array(predict)
    return np.sqrt(np.mean((real-pred) ** 2))

cat = pd.read_csv('cat_val.csv')
fmd = pd.read_csv('valid_1.csv')

In [5]:
rmse(cat['rating'],cat['pred'])

2.1386093431428352

In [7]:
rmse(fmd['target'],fmd['rating'])

2.1670843186603546

In [10]:
for i in [0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9]:
    print(i, rmse(cat['rating'], (i* cat['pred'] + (1-i)* fmd['rating'])))

0.1 2.15536767819424
0.2 2.1455756864784665
0.3 2.1377347915006744
0.4 2.131866521468721
0.5 2.1279871959454426
0.6 2.126107702125676
0.7 2.1262333432975593
0.8 2.128363764360861
0.9 2.1324929568278

In [14]:
cat = pd.read_csv('submit/KSY_5KFold_Optima2.csv')
fmd = pd.read_csv('submit/20221102_124224_FFDCN_final1.csv')
cat.head()

    user_id        isbn    rating
0   11676.0  0002005018  7.211140
1  116866.0  0002005018  7.674734
2  152827.0  0060973129  7.768780
3  157969.0  0374157065  7.803442
4   67958.0  0399135782  7.419217

In [15]:
cat['rating'] = cat['rating'] * 0.6 + fmd['rating'] * 0.4
cat.to_csv('submit/20221102_final1.csv', index = False)